<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Best Movies!!!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }
    th {
      font-weight: bold;
    }
    .selected {
      background-color:brown;
      color: #FFF;
    }
    
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
          $("#table tbody tr").click( function () {
           $(".selected").removeClass("selected");
            $(this).addClass("selected");
            var $row=$(this).attr("id");
              $.ajax({
                url: "/post/delete",
                cache: false,
                type: "POST",
                data: { row:$row }
          })
        })
        }
      });
    };

    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>
  
  <ul>
  <li><a class="active" href="Home.html">Home</a></li>
  <li><a href="index.html">Archive</a></li>
</ul>
  
  
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>Top Movies</h1>
    </div>
    <a class="btn btn-default" href="#" data-featherlight=".lightbox">Submit a movie</a>
    <br>
    <div class="row">
      <div id="results" class="span8">
      </div>
      <div class="span4 lightbox">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Title" placeholder="Title">
              </div>
              <div class="field">
                <input type="text" name="Director" placeholder="Director">
              </div>
              <div class="field">
                <input type="text" name="Actors" placeholder="Actors">
              </div>
              <div class="field">
                <input type="text" name="Release_Year" placeholder="Year of Release">
              </div>
              <div class="field">
                <input type="text" name="Rating" placeholder="Rating">
              </div>
              <div class="field">
                <input type="text" name="Plot" placeholder="Plot">
              </div>
              <div class="field">
                <input type="text" name="Genre" placeholder="Genre">
              </div>
              <div class="field">
                <input type="text" name="Duration" placeholder="Duration">
              </div>
              <div class="field">
                <button type="submit">Submit</button>
              </div>
            </form>
              <button id="delete">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
