.span4 {
    width: 300px;
    display: none;
}
#delete {
    float:right;
}
tr:hover{
  background-color:#c9e0d8;
  
}
tr:active{
  background-color:#b2e8d5;
}

body{
  background-image : url("images/background1.jpg");
}

table {
  background-color : white;
}
h1 {
  color : silver;
}

#myInput {
  
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
